/*** Ipad Design & Desktop ***/
@media screen and (min-width: 461px) {

	.inside #map-container {
	  height: 87%;
	  position: fixed;
	  right: 0;
	  top: 80px;
	  width: 50%;
	}
	.inside #footer {
	  bottom: -80px;
	}
	#restaurant-name {
	  margin: 20px 0 10px 0;
	}
	
	#restaurant-cuisine {
	  background-color: #333;
	  color: #ddd;
	  font-size: 12pt;
	  font-weight: 300;
	  letter-spacing: 10px;
	  margin: 0;
	  padding: 0;
	  text-align: center;
	  text-transform: uppercase;
	  width: 90%;
	}

	#restaurant-container, #reviews-container {
	  padding: 0px 40px 30px;
	  width: 50%;
	  top: 125px;
	}

	#reviews-container {
	  padding: 30px 40px 80px;
	}

	#reviews-list {
	  margin: 0;
	}

	#reviews-list li {
	  margin: 0 0 30px;
	  padding: 20px 20px 20px;
	  position: relative;
	  width: 85%;
	}
	#reviews-list li p {
	  margin: 0 0 10px;
	}

}